html{
    text-align: center;
    background-color: darkgoldenrod;
}

.jumbotron{
    background-color: tan;
    display: inline-block;
}

header {
    font-size: 150px;
    text-align: middle;
    float: middle;
}

#Time-Remaining{
    font-size: 100px;
}